/* style.css */

p {
	color: blue;
	padding: 50px;
}

}

h1 {
	padding: 0px;
	background-color: white;
	text-align: left;
}

body {
  background-color: white;
}

nav {
	padding: 15px
	font-size:20px;
	
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
