/* style.css */

text {
	color: blue;
	margin: 0px;
	text-align: center;
}

h1 {
	text-align: center;
	color: blue;
}


body {
  background-color: white;
}

li.menu {
	padding: 15px
	font-size:20px;
	text-align: center;
	
}

picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	
}

span.Sport {
	color:red;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;

  }
