/* style.css */

p, h1: {
	background-color: white;
	color: blue;
	text-align: center;
	margin: 0px;
	padding: 0px;
	

}

a.nav{
  color: gold;
}


#title {
	text-align: center;
	color: blue;
}


body {
  background-color: white;
}

ul {
	text-align: center;
	color: black;

}

h1:hover {
	color: red;
}


.middle.p{
	float: right;
	color:black;
}

ol {
	color: red;
}

picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	
}

span.Sport {
	color:red;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;

  }
